body, h5, h2, h3, h4, p, nav li a {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  color: #95551F;
  text-wrap: balance;
  line-height: 65px;
}

h5 {
  font-weight: 600;
  font-size: 16px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
}

p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__top-inner, nav ul, .navbar ul, .browse-the-range__elements, .our-products__items {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.show-more {
  border: 1px solid #7F4E25;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  color: #7F4E25;
  padding: 10px 40px;
}

.header__top-inner {
  background-color: white;
  align-items: center;
  padding: 20px 45px;
}

nav {
  padding: 0px 150px;
}
nav li {
  margin-left: 75px;
}
nav li a {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
nav li:first-child {
  margin-left: 0px;
}

.navbar ul > *:not(:first-child) {
  margin-left: 45px;
}

.header__bottom-inner {
  background-image: url(../../img/HeroSection.jpg);
  height: 80svh;
}

.advertising-offer {
  display: inline-block;
  background-color: #FFD49F;
  width: 650px;
  padding: 32px 48px;
  margin: 65px 80px;
  border-radius: 24px;
}
.advertising-offer > *:not(:first-child) {
  margin-top: 22px;
}
.advertising-offer button {
  border: none;
  background-color: #95551F;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 25px 72px;
}

section {
  margin-bottom: 50px;
}

.browse-the-range {
  margin-top: 50px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.browse-the-range__elements {
  text-align: center;
}

.category-title {
  margin-top: 15px;
}

.browse-the-range__inner {
  padding: 0px 50px;
}

.our-products__inner {
  padding: 0px 75px;
}

.our-product-content > *:not(:first-child) {
  margin-top: 8px;
}
.our-product-content p {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
}

.our-products__button-container {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
