body, h5, p, nav li a {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  color: #95551F;
  text-wrap: balance;
  line-height: 65px;
}

h5 {
  font-weight: 600;
  font-size: 16px;
}

p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__top-inner, nav ul, .navbar ul {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header__top-inner {
  background-color: white;
  align-items: center;
  padding: 20px 45px;
}

nav {
  padding: 0px 150px;
}
nav li {
  margin-left: 75px;
}
nav li a {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
nav li:first-child {
  margin-left: 0px;
}

.navbar ul > *:not(:first-child) {
  margin-left: 45px;
}

.header__bottom-inner {
  background-image: url(../../img/HeroSection.jpg);
  height: 80svh;
}

.advertising-offer {
  display: inline-block;
  background-color: #FFD49F;
  width: 650px;
  padding: 32px 48px;
  margin: 65px 80px;
  border-radius: 24px;
}
.advertising-offer > *:not(:first-child) {
  margin-top: 22px;
}
.advertising-offer button {
  border: none;
  background-color: #95551F;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 25px 72px;
}
