body, h5, h2, h3, h4, p, nav li a {
  font-family: 'Poppins', sans-serif;
}

button {
  background-color: white;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  color: #95551F;
  text-wrap: balance;
  line-height: 65px;
}

h5 {
  font-weight: 600;
  font-size: 16px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}
h3::first-letter {
  text-transform: uppercase;
}

h4 {
  font-weight: 600;
  font-size: 20px;
}

p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__top-inner, nav ul, .navbar ul, .browse-the-range__elements, .our-products__items, .our-features__items, .our-features__item, .elements-footer, .loginreg-form .form-autorisation__bottom {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.show-more {
  border: 1px solid #7F4E25;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  color: #7F4E25;
  padding: 10px 40px;
}

.header__top-inner {
  background-color: white;
  align-items: center;
  padding: 20px 45px;
}

nav {
  padding: 0px 150px;
}
nav li {
  margin-left: 75px;
}
nav li a {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
nav li:first-child {
  margin-left: 0px;
}

.navbar ul > *:not(:first-child) {
  margin-left: 45px;
}

.header__bottom-inner {
  background-image: url(../../img/HeroSection.jpg);
  height: 80svh;
}

.advertising-offer {
  display: inline-block;
  background-color: #FFD49F;
  width: 650px;
  padding: 32px 48px;
  margin: 65px 80px;
  border-radius: 24px;
}
.advertising-offer > *:not(:first-child) {
  margin-top: 22px;
}
.advertising-offer button {
  border: none;
  background-color: #95551F;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 25px 72px;
}

section {
  margin-bottom: 50px;
}

.browse-the-range {
  margin-top: 50px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.browse-the-range__elements {
  text-align: center;
}

.category-title {
  margin-top: 15px;
}

.browse-the-range__inner {
  padding: 0px 50px;
}

.our-products__inner {
  padding: 0px 75px;
}

.our-product-content > *:not(:first-child) {
  margin-top: 8px;
}
.our-product-content p {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
}

.our-products__button-container {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.our-features__item {
  align-items: center;
}

.our-features__inner {
  background-color: #FAF3EA;
  padding: 50px 50px;
}

.our-features_item-content {
  line-height: 30px;
  margin-left: 10px;
}
.our-features_item-content p {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
  text-transform: lowercase;
}

.footer__inner {
  border-top: 1px solid rgba(0, 0, 0, 0.17);
  padding: 48px 100px 0px 100px;
}

.company-address p, .site-links-elements a, .help-question-elements a, .newsletter-elements a {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.company-address p {
  display: block;
  margin-top: 25px;
}

.site-links-elements li:first-child {
  margin-bottom: 45px;
}
.site-links-elements li:first-child a {
  color: rgba(127, 78, 37, 0.7);
}
.site-links-elements li {
  display: flex;
  margin-bottom: 35px;
}

.help-question-elements li:first-child {
  margin-bottom: 45px;
}
.help-question-elements li:first-child a {
  color: rgba(127, 78, 37, 0.7);
}
.help-question-elements li {
  display: flex;
  margin-bottom: 35px;
}

.newsletter-elements li:first-child {
  margin-bottom: 45px;
}
.newsletter-elements li:first-child a {
  color: rgba(127, 78, 37, 0.7);
}
.newsletter-elements input {
  border: none;
  border-bottom: 1px solid black;
  color: #9f9f9f;
  padding-bottom: 8px;
  padding-right: 14px;
  font-size: 14px;
}
.newsletter-elements button {
  border: none;
  text-transform: uppercase;
  background-color: rgba(127, 78, 37, 0.7);
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: 500;
  color: white;
}

.login-user__items {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.loginreg-form {
  width: 300px;
}
.loginreg-form .button-back {
  margin-bottom: 25px;
}
.loginreg-form .button-back a {
  color: black;
}
.loginreg-form .button-back button {
  border: none;
  color: inherit;
}
.loginreg-form .title-form {
  margin-bottom: 30px;
}
.loginreg-form input {
  display: block;
  margin-bottom: 30px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #ced0d6;
  padding-right: 70px;
}
.loginreg-form .error-border {
  border: 2px solid red;
  margin-bottom: 0px;
}
.loginreg-form .error-message {
  margin: 10px 0px;
}
.loginreg-form .error-message p {
  font-size: 16px;
}
.loginreg-form .form-autorisation__bottom a {
  display: block;
  color: black;
}
.loginreg-form .form-autorisation__bottom button {
  background-color: #FDEBD6;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
}
.loginreg-form .form-autorisation__bottom .authLinks {
  text-align: right;
}
.loginreg-form .form-autorisation__bottom .authLinks button {
  width: 100%;
  padding: 0px;
  margin-bottom: 5px;
  border: none;
  background-color: white;
}

.form-registration__bottom button {
  background-color: #FDEBD6;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
}
