$top-color: white;
$bottom-color: #FFD49F;

%top-font{
    font-family: 'Poppins', sans-serif;
}

body{
   @extend %top-font; 
}
button{
    background-color: white;
}
.display-none{
    display: none;
}
h1{
    font-size: 56px;
    font-weight: 700;
    color: #95551F;
    text-wrap: balance;
    line-height: 65px;
}
h5{
    @extend %top-font;
    font-weight: 600;
    font-size: 16px;  
}
h2{
    @extend %top-font;
    font-weight: 700;
    font-size: 48px;
}
h3{
    @extend %top-font;
    font-weight: 600;
    font-size: 24px;
}
h4{
    @extend %top-font;
    font-weight: 600;
    font-size: 20px;
}
p{
  @extend %top-font;
  font-size: 18px;  
  line-height: 24px; 
  font-weight: 600;
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
}
%js-cn-sp-btw{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.show-more{
    border: 1px solid #7F4E25;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    color: #7F4E25;
    padding: 10px 40px;
}
.header__top-inner{
    @extend %js-cn-sp-btw;
    background-color: $top-color;
    align-items: center;
    padding: 20px 45px;

}
nav{
    padding: 0px 150px;
    ul{
        @extend %js-cn-sp-btw;  
    }
    li{
    margin-left: 75px;
        a{
            color: black;
            @extend %top-font;
            font-size: 16px;
            font-weight: 500;
        }
    }
    li:first-child{
        margin-left: 0px;
    }
}
.navbar{
    ul{
        @extend %js-cn-sp-btw; 
        & > *:not(:first-child){
            margin-left: 45px;
        } 
    }
}
.header__bottom-inner{
    background-image: url(../../img/HeroSection.jpg);
    height: 80svh;
}
.advertising-offer{
    display: inline-block;
    background-color: $bottom-color;
    width: 650px;
    padding: 32px 48px;
    margin: 65px 80px;
    border-radius: 24px;
    & > *:not(:first-child){
        margin-top: 22px;
    }
    button{
        border: none;
        background-color: #95551F;
        font-size: 16px;
        font-weight: 700;
        color: white;
        padding: 25px 72px;
    }
}
section{
    margin-bottom: 50px;
}
.browse-the-range{
    margin-top: 50px;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.browse-the-range__elements{
    @extend %js-cn-sp-btw;
    text-align: center;
}
.category-title{
    margin-top: 15px;
}
.browse-the-range__inner{
    padding: 0px 50px;
}
.our-products__inner{
    padding: 0px 75px;
}
.our-products__items{
    @extend %js-cn-sp-btw;  
}
.our-product-content{
    & > *:not(:first-child){
        margin-top: 8px;
    }
    p{
        font-size: 16px;
        font-weight: 500;
        color: #898989;
    }
}
.our-products__button-container{
    display: flex;
    margin-top: 35px;
    justify-content: center;
}
.our-features__items{
    @extend %js-cn-sp-btw;
}
.our-features__item{
    @extend %js-cn-sp-btw;
    align-items: center;
}
.our-features__inner{
    background-color: #FAF3EA;
    padding: 50px 50px;
}
.our-features_item-content{
    line-height: 30px;
    margin-left: 10px;
    p{
        font-size: 16px;
        font-weight: 500;
        color: #898989;
        text-transform: lowercase;
    }
}
.footer__inner{
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    padding: 48px 100px 0px 100px; 
}
.elements-footer{
    @extend %js-cn-sp-btw;
}
%text-footer{
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.company-address{

    p{
        display: block;
        margin-top: 25px;
        @extend %text-footer;
    }
}
.site-links-elements{
    a{
        @extend %text-footer;
    }
    li:first-child{
        margin-bottom: 45px;
        a{
            color: rgba(127, 78, 37, 0.7);
        }
    }
    li{
        display: flex;
        margin-bottom: 35px;
    }
}
.help-question-elements{
    a{
        @extend %text-footer;
    }
    li:first-child{
        margin-bottom: 45px;
        a{
            color: rgba(127, 78, 37, 0.7);
        }
    }
    li{
        display: flex;
        margin-bottom: 35px;
    }
}
.newsletter-elements{
    a{
        @extend %text-footer;
    }
    li:first-child{
        margin-bottom: 45px;
        a{
            color: rgba(127, 78, 37, 0.7);
        }
    }
    input{
        border: none;
        border-bottom: 1px solid black;
        color: rgba(159, 159, 159, 1);
        padding-bottom: 8px;
        padding-right: 14px;
        font-size: 14px;
    }
    button{
        border: none;
        text-transform: uppercase;
        background-color: rgba(127, 78, 37, 0.70);
        padding: 4px 10px;
        border-radius: 6px;
        font-weight: 500;
        color: white;
    }
}
.login-user__items{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100svh;
}
.loginreg-form{
    width: 300px;
   .button-back{
    margin-bottom: 25px;
    a{
        color: black;
    }
    button{
        border: none;
        color:  inherit;
    }
   }
   .title-form{
    margin-bottom: 30px;
   }
   input{
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ced0d6;
    padding-right: 70px;
   }
   .form-autorisation__bottom{
    @extend %js-cn-sp-btw;
    a{
        display: block;
        color: black;
    }
    button{
        background-color: #FDEBD6;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 16px;
    }
    .authLinks{
        text-align: right;
    }
   }
}
.form-registration__bottom{
    button{
        background-color: #FDEBD6;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 16px;
    }
}
